<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechatweb.demo.mapper.AddressInfoMapper">
    <select id="findAddressInfoByOpenId" parameterType="java.lang.String" resultType="com.wechatweb.demo.entity.AddressInfo">
        SELECT
            *
        FROM
            address_info
        WHERE
            openid = '${_parameter}'
    </select>

    <select id="findAddressInfo" parameterType="com.wechatweb.demo.entity.AddressInfo" resultType="com.wechatweb.demo.entity.AddressInfo">
        SELECT
            *
        FROM
            address_info
        WHERE
            openid = '${openid}'
            <if test="id != null and id != ''">
                AND id = '${id}'
            </if>
    </select>
</mapper>