<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wechatweb.demo.mapper.AppointmentInfoMapper">
    <select id="selectListByOpenId" parameterType="com.wechatweb.demo.entity.AppointmentInfo" resultType="com.wechatweb.demo.entity.AppointmentInfo">
        SELECT
            a.id,
            a.openid,
            a.addressid,
            a.appointmenttime,
            a.status,
            a.createdtime,
            b.address,
            b.name,
            b.phonenumber,
            b.chinaid
        FROM
            appointment_info a
            LEFT JOIN address_info b ON b.id = a.addressid
        <where>
            <if test="openid != null and openid != ''">
                AND a.openid = '${openid}'
            </if>
            <if test="status != null and status != ''">
                AND a.status = '${status}'
            </if>
        </where>
        ORDER BY
            a.createdtime DESC
    </select>

    <select id="findALLOrders" parameterType="com.wechatweb.demo.entity.AppointmentInfo" resultType="com.wechatweb.demo.entity.AppointmentInfo">
        SELECT
        a.*,
        b.address,
        b.name,
        b.phonenumber,
        b.chinaid
        FROM
        appointment_info a
        LEFT JOIN address_info b ON b.id = a.addressid
        <where>
            <if test="status != null and status != '' and openid != null and openid != ''">
                AND a.openid = '${openid}'
                AND a.status = '${status}'
            </if>
        </where>
    </select>
</mapper>